* {
  margin: 0px;
  padding: 0px;
}
.headrer {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 300px; */
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  height: 30px;
}
.headrer ul {
  display: flex;
  list-style: none;
  gap: 20px;
  text-align: center;
  margin-top: 10px;
}
.headrer ul li {
  color: gray;
}
.headrer button {
  background-color: black;
  border: none;
  padding: 5px 15px 5px 15px;
  color: white;
}


 .headrer ul li:hover {
  color: red;
  font-size: 1.5rem;
  animation: hover 1s;
  cursor: pointer;
}
.headrer button{
  animation: button 1s ;
  width: 100px;
  height:44px;
  animation-iteration-count: 3;
}

@keyframes hover {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes button{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

.back {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://www.unicefusa.org/sites/default/files/2023-02/UN0579998%20donate%20banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  backface-visibility: hidden;
  margin-bottom: 100px;
}

.back h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 50px;
}
.flex {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.what {
  background: white;
  width: 90px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
}
.what p {
  margin-top: 10px;
}
.icon {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.img-sec2 img {
  width: 350px;
  height: 400px;
  border-radius: 20px;
}
.sec2 {
  /* display: flex; */
}
.sec2{
  overflow: hidden;
}
.img-sec2 {
  animation:img-sec2 2s;
}

@keyframes img-sec2{
  from{
    transform: translate(700px,0px);
  }
}
.flsec2 {
  display: flex;
  /* justify-content: space-between; */
  gap: 200px;
}
.text {
  /* margin-left: 80px; */
  padding-left: 40px;
  margin-top: 40px;

  animation: text 2s ;
}
@keyframes text{
  from{
    transform: translate(-700px,0px);
  }
}
.text p {
  margin-left: 30px;
  color: rgba(29, 33, 48, 1);
}
.text h1 {
  margin-left: 30px;
}
.btn {
  margin-left: 30px;
  background-color: rgba(242, 201, 76, 1);
  border: none;
  padding: 10px 18px 10px 18px;
}
.ps {
  color: rgba(82, 85, 96, 1);
}

.fel-sec3 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* margin-left: 100px; */
}
.sec3 p {
  margin-left: 30px;
}

.sec3 {
  margin-top: 10px;
}
.icon-sec3 i {
  font-size: 25px;
  color: rgba(82, 85, 96, 1);
}
.icon-sec3 p {
  color: rgba(82, 85, 96, 1);
}
.pr {
  margin-left: 20px;
  margin-top: 10px;
  color: rgba(82, 85, 96, 1);
}
.sec4 {
  background-color: rgba(252, 237, 198, 1);
}
.flex-sec4 {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
}
.psg {
  color: rgba(82, 85, 96, 1);
  margin-left: 50px;
}

.text-sec4 {
  margin-left: 30px;
  /* font-size: 10px; */
}

.sec4 {
  padding: 60px 40px;
}
.text-sec4 p {
  color: rgba(82, 85, 96, 1);
  font-size: 16px;
  line-height: 1.6;
}

.text-sec4 p:first-child {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.8px;
  color: rgba(66, 66, 66, 0.6);
  margin-bottom: 18px;
  font-weight: 700;
}
.text-sec4 h1 {
  font-size: 40px;
  margin: 6px 0 18px 0;
  color: rgba(29, 33, 48, 1);
  font-weight: 800;
}
.text-sec4 h2 {
  font-size: 18px;
  margin: 16px 0 6px 0;
  display: flex;
  align-items: center;
  gap: 14px;
  color: rgba(29, 33, 48, 1);
  font-weight: 700;
}
.text-sec4 h2 i {
  background: #111;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6) inset;
}
.text-sec4 .psg {
  margin-left: 0;
}
.img-sec4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 520px; 
  height: 520px; 
  padding: 10px;
  border-radius: 18px;
  box-sizing: border-box;
  
  background: transparent;
  overflow: hidden; 
}
.img-sec4 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 12px;
}
.last{
    background-image: url("ali.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 96px;
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.btn-3{
    display: flex;
    gap: 30px;
    margin-left: 380px;
    margin-top: 10px;
}
.join{
    background-color: rgba(242, 201, 76, 1);
    border: none;
    padding:15px 30px 15px 30px;
}
.donatite{
    background-color: white;
    border: none;
    padding:15px 30px 15px 30px;
}
.sec5{
    background-color: rgba(242, 201, 76, 1);
    color: black;
    width: 400px;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    gap: 5px;
}
.flex-s{
    display: flex;
    gap: 100px;

}
.yellow{
    display: flex;
    gap:20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 30px;
}
.yellows{
     display: flex;
    gap:20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 30px;
}
.sec5{
    display: flex;


}
.pt{
    margin-left: 80px;
    margin-top: 20px;
}
.isku{
    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
}
.flexs{
    background-color: rgba(242, 201, 76, 1);
    width: 440px;
    height: 150px;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 40px;
}
.flex-sec5 h1{
  color: white;
  font-size: 25px;
  margin-top: 20px;
}
.flex-sec5 p{
  margin-top: 20px;
}
.flex-section{
    /* display: flex; */
}
.lore{
    margin-top: 30px;
}
.i{
    margin-top: 30px;
    font-size: 20px;
    background-color: white;
    height: 20px;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 30px;
    margin-top: 20px;
    height: 200px;
    padding-top: 60px;
}
.footer{
     display: flex;
    justify-content: space-around;
       color: white;
    padding-top: 30px;
}
.location ul{
    list-style: none;
}
  
 .hrs{
 background-color: #013220;
 height: 60px;
 }
 .icon-flex{
    display: flex;
    
 }
 .icon-flex h1{
    font-size: 20px;
 }
 .iconss{
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
 }
 .hr{
    color: black;
    background-color: black;
    /* padding-top: 20px; */
 }
 .span{
    color: black;
    font-size: 15px;
 }

 .location button{
  background-color: white;
  color: black;
  border: none;
  padding:10px 10px 10px 10px ;
 }

 .footer input{
  width: 300px;
  height: 40px;
 }
 
.menue{
  display: none;
}

 @media (max-width:768px){
  .headrer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
  .headrer ul{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    display: none;
  }
  .menue{
    display: block;
    font-size: 25px;
    margin-top: 10px;
  }
  .back{
    margin-top: 120px;
    height: 450px;
    padding-top: 140px;
  }
  .back h1
{
  font-size: 35px;
  text-align: center;
}
  .flex{
    flex-direction: column;
    align-items: center;
  }

  .flsec2{
    flex-direction: column;
    /* padding-left: 50px; */
    gap: 10px;
  }
  .text{
    margin-left: 0px;
  }

  .img-sec2 img{
    margin-left: 40px;
    margin-top: 0px;
  }
  .pr{
    margin-left: 120px;
  }
  .fel-sec3{
    flex-direction: column;
    gap: 30px;
    margin-left: 120px;
  }

  .sec4{
    height: auto;
  }
  .flex-sec4{
    flex-direction: column;
    gap: 30px;
  }

  .img-sec4 img{
    width: 100%;
  }

  .last{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("imge.png");
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    font-size: 10px;
  }

  .btn-3{
    margin-left: 0px;
    flex-direction: column;
  }
  .join{
    width: 250px;
    height: 50px;
  }
  .donatite{
    width: 250px;
    height: 50px;
    margin-top: 10px;

  }
  .isku{
    flex-direction: column;
    /* margin-left: 10px; */
    margin-right: 20px;
    margin-right: 10px;
  }
  .pt{
    text-align: center;
    margin-right: 10px;
  }

  .footer{
    /* flex-wrap: wrap-reverse; */
    flex-direction: column;
    height: auto;
    text-align: center;
  }

 }